.root {
  font-size: 14px;
}

.root input {
  font-size: 14px;
}

.root textarea {
  font-size: 14px;
}

.root img {
  max-width: 100%;
  height: auto;
}

.close {
  position:absolute;
  right: -11px;
  top: -30px;
  font-size: 35px;
  cursor: pointer;
}

.rootCard {
  width: 100% !important;
}
